h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    padding: 0 4rem;
}

.heading {
    padding: 3rem 0;

    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
}

.bg-gray {
    background: #C4C4C4;
}

.line-break {
    display: none;
}

.return-top-wrapper {
    text-align: center;
}

.return-top-wrapper__button {
    padding: .75rem 2rem;

    color: #FFF;
    border-radius: 0.25rem;
    background-color: #0D47A1;
    cursor: pointer;
}

.return-top-wrapper__button-prev, .return-top-wrapper__button-next {
    padding: .75rem 2rem;

    color: #FFF;
    border-radius: 0.25rem;
    background-color: #0D47A1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    .line-break {
        display: inline;
    }
}
