.main {
    padding: 1rem 0;
    max-width: 854px;
    margin: 0 auto;
}

/* 写真 */
.picture {
    padding-bottom: 3rem;
}

.picture__content {
    display: flex;
}

.picture__content--image {
}

/* 一番下の大きい写真 */
.picture__content--big {
    text-align: center;
}

.picture__content--description--big {
    margin: 0;
    padding-top: 8px;

    font-size: 1.25rem;
    line-height: 1.5;
}

.picture__content--description {
    margin-left: 2rem;

    font-size: 1.25rem;
    line-height: 1.5;
}

.button-space {
    margin: 4rem 0;
}

@media (max-width: 768px) {
    .picture__content {
        display: block;
    }

    .picture__content--description {
        padding-top: .5rem;
        margin-left: 0;

        font-size: 1rem;
    }

    .picture__content--image {
        width: 300px;
    }
}
