h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

.container {
    padding: 0 4rem;
}

@media screen and (max-width:768px) {
    .container {
        padding: 0 2rem;
    }
}
