/* お知らせ */
.notice {
    padding: .5rem 0;

    background-color: #0D47A1;
    color: #FFF;
    text-align: center;
}

.notice__text {
    margin: 0;
}

.notice__text span {
    color: #FFF;
}

/* メイン画像 */
.hero {
    position: relative;
    text-align: center;
}

.hero__image {
    height: 500px;

    background: url("/assets/images/index/hero.jpg") no-repeat center;
    background-size: cover;
    filter: brightness(65%);
}

.hero__phrase {
    width: 100%;

    font-size: 3.5rem;
    color: #FFF;
    line-height: 1.5;

    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

@media screen and (max-width: 768px) {
    .hero__phrase {
        font-size: 2.5rem;
    }
}

/* 少林寺拳法の紹介文 */
.introduction {
    margin: 4rem 0;

    text-align: center;
}

.introduction__title {
    padding: 3rem 0;

    font-size: 2.25rem;
    font-weight: 400;
}

.introduction__phrase {
    line-height: 2;
    font-size: 1.25rem;
}

/* 演武と乱捕 */
.practice {
    width: 100%;
    padding: 2rem 0;

    display: flex;
    text-align: center;
}

.practice__left, .practice__right {
    flex-grow: 1;
}

.practice__left--image {
    height: 375px;

    background: url("/assets/images/index/enbu.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice__right--image {
    height: 375px;

    background: url("/assets/images/index/randori.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice__left--title, .practice__right--title {
    width: 100%;
    padding-top: 5rem;

    font-size: 3.5rem;
    color: #FFF;
}

.practice__left--button, .practice__right--button {
    padding: 1rem 3rem;
    margin-top: 5rem;

    border-radius: 0.25rem;
    background-color: #0D47A1;
    cursor: pointer;
}

.practice__left--button, .practice__right--button span {
    color: #FFF;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    .practice {
        flex-direction: column;
    }

    .practice__left, .practice__right {
        flex-grow: 0;
    }

    .practice__left--button, .practice__right--button {
        padding: .75rem 1.25rem;
    }
}

/* 主将挨拶 */
.greeting {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.greeting__title {
    padding: 3rem 0;

    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
}

.greeting__content {
    padding-right: 3rem;

    display: flex;
    justify-content: space-around;
}

.greeting__content--image {
    padding-left: 3rem;
}

.greeting__content--right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.greeting__content--right-body {
    font-size: 1.25rem;
    line-height: 1.25;
}

.greeting__content--right-name {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    .greeting {
        margin: 0;
    }

    .greeting__content {
        display: block;
    }

    .greeting__content--image {
        padding-left: 0;
    }

    .greeting__content {
        padding-right: 0;
    }

    .greeting__content--right-body {
        padding: 1.75rem 0;

        font-size: 1.25rem;
    }

    .greeting__content--right-name {
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        font-size: 1rem;
    }
}

/* 部員紹介 */
.members {
    padding: 3rem 0;
    background-color: #FAFAFA;
}

.members__title {
    padding-top: 3rem;
    padding-bottom: 1rem;

    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
}

.members__subtitle {
    padding-bottom: 2rem;

    text-align: center;
}

.members__content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.members__content--pair {
    padding: 2.25rem 0;

    text-align: center;
}

.members__content--pair-image {
    width: 160px;
    height: 160px;

    border-radius: 9999rem;
}

.members__content--pair-title {
    padding: 1rem 0;

    color: #000000;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    .members__content {
        margin: 0;
    }
}

/* 活動内容 */
.activity {
    padding: 4rem 0;
}

.activity__title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
}

.activity__content{
    max-width: 64rem;
    padding: 4rem 0 0 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity__content--card {
    margin: 0 0 3rem 0;

    border: 1px solid #cbd5e0;
    border-radius: 0.5rem;
}

.activity__content--card-image {
    width: 300px;
    height: 225px;

    border-radius: 0.5rem 0.5rem 0 0;
}

.activity__content--card-body {
    padding: 1rem 1rem;
}

.activity__content--card-body--title {
    padding-bottom: 0.75rem;

    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
}

.activity__content--card-body--subtitle {
    padding-bottom: 1.5rem;

    color: #000000;
}

.activity__content--card-body--bar {
    border: 0.5px solid #C4C4C4;
}

.activity__content--card-body--read-more{
    padding: 1.25rem 0 0.5rem 0;

    color: #4299E1;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {

}
