/* お知らせ */
.notice {
    padding: .5rem 0;

    background-color: #0D47A1;
    color: #FFF;
    text-align: center;
}

.notice__text {
    margin: 0;
}

/* メイン画像 */
.hero {
    position: relative;
    text-align: center;
}

.hero__image {
    height: 500px;

    background: url("/assets/images/index/hero.jpg") no-repeat center;
    background-size: cover;
    filter: brightness(65%);
}

.hero__phrase {
    width: 100%;

    font-size: 3.5rem;
    color: #FFF;
    line-height: 1.5;

    position: absolute;
    top: 50%;
    -ms-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.hero__phrase--line {
    display: none;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    .hero__phrase {
        font-size: 2.5rem;
    }

    .hero__phrase--line {
        display: inline;
    }
}
