/* お知らせ */
.notice {
    padding: .5rem 0;

    background-color: #0D47A1;
    color: #FFF;
    text-align: center;
}

.notice__text {
    margin: 0;
}

/* メイン画像 */
.hero {
    position: relative;
    text-align: center;
}

.hero__image {
    height: 500px;

    background: url("/assets/images/index/hero.jpg") no-repeat center;
    background-size: cover;
    filter: brightness(65%);
}

.hero__phrase {
    width: 100%;

    font-size: 3.5rem;
    color: #FFF;
    line-height: 1.5;

    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/* 少林寺拳法の紹介文 */
.introduction {
    margin: 2rem 0 4rem 0;

    text-align: center;
}

.introduction__title {
    padding: 3rem 0;

    font-size: 2.25rem;
    font-weight: 400;
}

.introduction__phrase {
    line-height: 2;
}

/* 演武と乱捕 */
.practice {
    width: 100%;
    padding: 2rem 0;

    display: flex;
    text-align: center;
}

.practice__left, .practice__right {
    flex-grow: 1;
}

.practice__left--image {
    height: 375px;

    background: url("/assets/images/index/enbu.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice__right--image {
    height: 375px;

    background: url("/assets/images/index/randori.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice__left--title, .practice__right--title {
    width: 100%;
    padding-top: 5rem;

    font-size: 3.5rem;
    color: #FFF;
}

.practice__left--button, .practice__right--button {
    padding: 1rem 3rem;
    margin-top: 5rem;

    border-radius: 0.25rem;
    background-color: #0D47A1;
    cursor: pointer;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    .hero__phrase {
        font-size: 2.5rem;
    }

    .practice {
        flex-direction: column;
    }

    .practice__left, .practice__right {
        flex-grow: 0;
    }

    .practice__left--button, .practice__right--button {
        padding: .75rem 1.25rem;
    }
}
