.members {
    max-width: 768px;
    margin: 0 auto;
}

.members__title {
    padding: 3rem 0;

    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
}

.members__list {
    padding-bottom: 5rem;
}

.members__grade {
    padding-bottom: 4rem;

    font-size: 1.5rem;
    text-align: center;
}

table {
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border-bottom: solid 1px #eee;
}

table th, table td {
    text-align: center;
    width: 25%;
    padding: 1rem 0;
}

.members__table--row-name {
    font-weight: bold;
}

.button-space {
    margin: 0 0 4rem;
}
