.main {
    padding: 1rem 0;
    max-width: 854px;
    margin: 0 auto;
}

/* 練習日時 */
.table-wrapper {
    margin-bottom: 3rem;
}

table {
    width: 850px;
    padding: 0;
    margin: 0 auto;

    border-collapse: collapse;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 2px solid #eee;
}

table th {
    padding: 2rem;
    border-right: 2px solid #fff;
    font-weight: 500;
}

table td {
    padding: 2rem .5rem;
    border-right: 2px solid #eee;
    text-align: center;
}

table thead tr {
    background-color: #0D47A1;
    color: #fff;
}

table thead tr th span {
    font-size: 1.5rem;
}

table tbody th {
    border-right: 2px solid #eee;
}

.time {
    color: #000;
    font-weight: bold;
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    .table-wrapper {
        overflow-x: scroll;
    }
}

.button-space {
    margin: 0 0 4rem;
}

/* 練習内容 */
.practice {
    padding-bottom: 3rem;
}

.practice__title {
    padding-bottom: 2rem;

    font-size: 1.75rem;
    font-weight: 400;
}

.practice__content {
    display: flex;
}

.practice__content--image {
}

.practice__content--description {
    margin-left: 2rem;

    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .practice__content {
        display: block;
    }

    .practice__content--description {
        padding-top: .5rem;
        margin-left: 0;

        font-size: 1rem;
    }

}
