.button-space {
    margin: 3rem 0;
}

table {
    padding: 0;
    margin: 1.5rem auto;

    border-collapse: collapse;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 2px solid #eee;
}

table th {
    padding: 1rem;
    border-right: 2px solid #fff;
    font-weight: 500;
}

table td {
    padding: .5rem;
    border-right: 2px solid #eee;
    text-align: center;
}

table td:first-child {
    padding: .5rem 1rem;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table thead tr:first-child {
    background-color: #0D47A1;
}

table td:first-child {
    font-weight: 600;
}

table thead tr {
    background-color: #0D47A1;
    color: #fff;
}

table thead tr th span {
    font-size: 1.5rem;
}

table tbody th {
    border-right: 2px solid #eee;
}

@media screen and (max-width: 768px) {
    .table-wrapper {
        overflow-x: scroll;
    }
}
