<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - 京都大学体育会 少林寺拳法部</title>

    <!--  共通CSS  -->
    <link rel='stylesheet' href='assets/css/common/normalize.css'>
    <link rel='stylesheet' href='assets/css/common/base.css'>
    <link rel='stylesheet' href='assets/css/common/layout.css'>

    <!-- このページのCSS -->

</head>
<body>

<!-- header -->
<header>
    <nav class="navbar">
        <div class="navbar__left">
            <a href="/">
                <p class="navbar__left--group">京都大学体育会</p>
                <p class="navbar__left--sitename">少林寺拳法部</p>
            </a>
        </div>
        <div class="navbar__right">
            <a href="https://www.eikenkai.com/">
                <p>叡拳会HP</p>
            </a>
        </div>
    </nav>
</header>



<!-- footer -->
<footer class="footer">
    <div class="footer__left">
        <a href="/">
            <p class="footer__left--group">京都大学体育会</p>
            <p class="footer__left--sitename">少林寺拳法部</p>
        </a>
    </div>
    <div class="footer__right">
        <a href="http://www.kusu.kyoto-u.ac.jp/">
            <img src="assets/images/index/KUSU-logo.gif" alt="京都大学体育会のロゴ"/>
        </a>
    </div>
</footer>

</body>
</html>
